:root{
    --primary-color: #015924;
    --secondary-color: #f17961;
    --terciary-color: #f5f5f5;
    --primary-font: 'Dancing Script', cursive;
    --secondary-font: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
html{
    font-size: 62.5%;
    
}
.header{
    height: 25px;
    width: 100%;
    background-color: var(--terciary-color);
}
.header-promos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-h-promos{
    font-family: var(--primary-font);
    font-size: 2rem;
}
.h-l-figure{
    width: 10rem;
    height:4rem;
}
.h-l-figure img{
    width: 100%;
    height:100%;
}
.nav{
    position: fixed;
    width: 100%;
}
.nav-menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    font-family: var(--secondary-font);
}

@media (min-width:480px){
}
@media (min-width:600px){

}
@media (min-width:800px){
    
}
@media (min-width:00px){
    
}