:root{
    --primary-color: #015924;
    --secondary-color: #f17961;
    --terciary-color: #f5f5f5;
    --primary-font: 'Dancing Script', cursive;
    --secondary-font: 'Montserrat', sans-serif;
    --font-size-tittle: 3rem;
    --font-size-subtittle: 2rem;
    --font-size-p:1.5rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
html{
    font-size: 62.5%;
}
.header{
    height: auto;
    width: 100%;
    background-attachment: fixed;
    background-color: var(--terciary-color);
}
.header-promos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}
.h-h-promos{
    font-family: var(--primary-font);
    font-size: var(--font-size-p);
    margin: 0;
}
.h-l-figure{
    width: 25rem;
    height:5rem;
}
.h-l-figure img{
    width: 100%;
    height:100%;
}
.nav-menu{
    position: relative;
    display: flex;
    font-family: var(--secondary-font);
}
.nav-menu-ul{
    width: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}
.nav-menu-ul a{
    text-decoration:none;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: var(--font-size-p);
}
.n-m-search{
    width: 2.5rem;
    height: 2.5rem;
}
.d-block{
  width: 100%;
  height: 100%;
}
.main{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.box{
    width: 100%;
    height: auto;
    background-color: var(--terciary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.box .tittle{
    font-family: var(--primary-font);
    font-size: var(--font-size-tittle);
} 
.box .sub-tittle{
    font-family: var(--primary-font);
    font-size: var(--font-size-subtittle);
} 
.m-box2{
    width: 100%;
    color: var(--secondary-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.m-b-f{
    width: 100%;
    height: 100%;
    display: contents;
}
.m-b-f img{
    width: 70%;
    height: 70%;
}
.m-box3{
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--terciary-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.m-box4{
    width: 100%;
    color: var(--secondary-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-menu{
    background-color: var(--secondary-color);
}
.f-l-ul{
    font-family: var(--secondary-font);
    list-style: none;
    color: var(--terciary-color);
}
.carousel{
    width: 100%;
}
.carousel-item.active div{
    height: 100%;
}

@media (min-width:480px){
    .main{
        position: relative;
        flex-wrap: wrap;
    }
    .box{
        width: 100%;
    }
    .m-b-f img{
        width: 80%;
        height: 80%;
    }
    .carousel-item.active div{
        height: 100%;
    }
}
@media (min-width:640px){
    .main{
        position: relative;
        flex-wrap: wrap;
    }
    .carousel-item.active div{
        height: 100%;
    }
    .m-box2, .m-box3{
        width: 70%;

    }

}
@media (min-width:800px){
    
}
@media (min-width:1200px){
    
}