:root{
    --primary-color: #015924;
    --secondary-color: #f17961;
    --terciary-color: #f5f5f5;
    --primary-font: 'Dancing Script', cursive;
    --secondary-font: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
html{
    font-size: 62.5%;
}
.header{
    height: auto;
    width: 100%;
    background-attachment: fixed;
}
.header-promos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--terciary-color);
}
.h-h-promos{
    font-family: var(--primary-font);
    font-size: 2rem;
    color: var();
}
.h-l-figure{
    width: 25rem;
    height:5rem;
}
.h-l-figure img{
    width: 100%;
    height:100%;
}
.nav-menu{
    position: relative;
    display: flex;
    font-family: var(--secondary-font);
}
.nav-menu-ul{
    width: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}
.n-m-search{
    padding-top: 0.5rem;
    width: 3rem;
    height: 3rem;
}
.d-block{
  width: 100%;
  height: 100%;
}

.main{
    display: flex;
}

.m-box1{
    width: 100%;
    height: 100%;

}

@media (min-width:480px){
    
}
@media (min-width:600px){

}
@media (min-width:800px){
    
}
@media (min-width:00px){
    
}